
<strong><%= link_to "New", new_text_post_path %></strong>
<%#
<nav id="sidebar">
  <a class="nav-logo-link page-title" href="/">
    <h1>Tumblful</h1>
  </a>
  <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :class => "pull-right") if user_signed_in? %>
 
<%#
 <ul>
    <li> <%= link_to "All image links", image_links_path %></li>
 <%#   <li><%= link_to "All TextPosts", text_posts_path %></li>
 <%#   <li><%= link_to "Home", root_path %></li>
<%#  </ul>
</nav>
%>
<div>
<%= @text_posts.each do |text_post| %>


<%= div_for text_post do %>
<%= content_tag :p, text_post.name %>
<%= content_tag :p, text_post.description %>
..........
..........

<p>
<%= link_to "Show", text_post_path(text_post) %> | 
    
</p>





<% end %>

<%# <%= content_tag :h2, text_post.description %>

<% end %>

</div>