<%= form_for(@text_post) do |f| %>

<% if @errors %>
<div id="error_explanation">
<h2>
<%= pluralize(@errors.count, "errors") %>  Probhibited this article link from being saved:</h2>   
    
    
    <ul>
        <% @errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
    </ul>
 
</div>


<% end %>




<div class="field">

<%=f.label :name  %> <br>
<%=f.text_field :name %>

</div>

<div class="field">

<%= f.label :description %> <br>
<%= f.text_field :description %>

</div>

<div class="actions">
<%= f.submit %>

</div>

<% end %>