

<div class="whitey center3 clearfix">

      
        <div class="float-left avatar">
    <%= image_tag current_user.avatar.url(:thumb) %>
        </div>
        <div class="bio scrolling">
    <%= content_tag :small, current_user.bio %>
        </div>
  <div>
    <p> <p>
  </div>
  <div class="float-left">
    <%= content_tag :strong, current_user.name, :class => 'user_name_left' %>
  </div>
<!--
  <div>
<%#    <%= content_tag :strong, '@'+current_user.username, :class => 'margin-follows' %>
  </div>
 -->
   <div>
    <%= content_tag :small, current_user.email %>
  </div>

</div>


    <table class="user_info center">
      <tbody>

        
        <tr>
          <td>
            <%= content_tag :h4, current_user.image_links.count %>
            <%= content_tag :small, 'Posts', :class => "uppercase lighter" %>
          </td>
          <td>
            <%= content_tag :h4, current_user.follows.count %>
            <%= content_tag :small, 'Following', :class => "uppercase lighter" %>
          </td>
          <td>
            <%= content_tag :h4, Follow.where(:following_id => current_user.id).count %>
            <%= content_tag :small, 'Followers', :class => "uppercase lighter" %>
          </td>
      </tbody>
    </table>
 
<!--
<ul>
  <%= nav_item("Follow", follows_path) %>
</ul>

-->