<h4>New to Tumblful? <span>Sign up</span></h4>
<hr />
<%= form_for resource, :url => user_registration_path,
                       :builder => InlineErrorsBuilder,
                       :method => :POST,
                       :role => :form do |f| %>
  <div class="center">
    <%= content_tag :div do %>
      <%= f.text_field :name, :placeholder => "Your name" %>
      <%= f.errors_for :name %>
    <% end %>

    <%= content_tag :div do %>
      <%= f.text_field :username, :placeholder => "Gimme handle" %>
      <%= f.errors_for :username %>
    <% end %>

    <%= content_tag :div do %>
      <%= f.text_field :email, :placeholder => "Email" %>
      <%= f.errors_for :email %>
    <% end %>

    <%= content_tag :div do %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.errors_for :password %>
    <% end %>

    
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

    
    <%= f.submit "Sign up for Tumblful" %>
  </div>
<% end %>
