<% content_for :body do %>
  <body id='image_links_index'>
<% end %>


<% @image_links.each_slice(4) do |image_links| %>
    <div>
  <% image_links.each do |image_link| %>
      <%= div_for image_link do %>
      
      <div class="col-md-3 width-img-links user_side top-radius"> 



        <h2 class="text-left"><%= image_link.title %></h2>
        <strong><%= "@" + image_link.user.name %>
        </strong>
        <%= image_tag image_link.user.avatar.url(:thumb), :class => 'float-left shrink-avatar' %>
        <%= follow_link(image_link.user) %>
        
      

      
      
    <%= image_tag image_link.url, :class => 'image-link-image thumbnail'%>
    <div class="bio-img-links">
    <%= content_tag :small, image_link.user.bio, :class => 'bio-img-links' %>
    </div>
  
<%# <% @image_links.each do |image_link| %>
 <%#  <%= content_tag :p, image_link.url %>
<%# <% end %>
  
      
      <span class="total-likes">
        <%= image_link.likes.count %>
      </span> 
    <%# <%= link_to "edit", edit_image_link_path(image_link) %>
      <div class="btn2">
        <%= form_for Like.new, :remote => true do |f| %>
          <%= f.hidden_field :likeable_type, :value => image_link.class %>
          <%= f.hidden_field :likeable_id, :value => image_link.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.button "", :id => 'btn1', :class => 'fa fa-thumbs-up fa-2x' %>
      </div>
        <p>
          <%= link_to "Show", image_link_path(image_link) %> | 
        </p> 
   
<!--
  <span class="text_post_lower col-md-offset-6">
  Published at
        <%= time_ago_in_words(image_link.created_at) %>
  </span>

    <p>
 <%#     <%= link_to "Show", image_link_path(image_link) %> | 
    </p> 

  -->
</div>
    <% end %>
  <% end %>

    <% end %>
  <% end %>
   
</div>
</div>
</div>
 </div>
    </div>
<!--

 <script>
 /*
console.log("shithappened");
  document.getElementsByClassName("btn2")[0].onclick = function(){
    this.style.backgroundColor = "#7FFF00";
    //this.disabled = true;
     


     var x = document.getElementsByClassName("btn2");
var i;
for (i = 0; i < x.length; i++) {
    x[i].style.backgroundColor = "red";
}


};
*/

</script>







-->



