

<% content_for :body do %>
  <body id='text_posts_index' style="list-style:none; text-decoration:none;">
<% end %>


<%= render :partial => 'shared/left_nav' %>
<div class="pure-white center">
<h4>Who to follow</h4>
<p>Tumblful accounts in alpabetical order.</p>
<hr/>
<ol style="list-style:none;">
<% @users.each do |user| %>
<div class="float-left avatar">
<%= image_tag user.avatar.url(:thumb) %> 
</div>
<div class="bio av-width scrolling2">
    <%= content_tag :small, user.bio %>
</div>
    <li class="av-width">
      <%# <%= content_tag :strong, user.name %>
      <%= content_tag :strong, "@"+user.username, :class => 'left80'%>
    </li>
      <%= follow_link(user) %>
    
    <hr>
  <% end %>
</ol>
</div>