<!DOCTYPE html>
<html>
<head>
  <title>Tumblful</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="main_back">
<%= render 'layouts/header' %>
<%#
    <%if user_signed_in? %>
   <%# <p>welcome <%= User.name %></p>
  <%#  <% end %>
  <%#  <%= link_to "Back", text_posts_path %>
<%= notices %>
<div id="main_content" class='main-content'>
  <h1 id="header"> Tumblful </h1>
<div id="whitey">
  <%= yield %>
</div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
